<!-- Post -->
      <div class="post">
        <!-- Heading -->
        <a href="#"><h1><%= @post.title %></h1></a>
        <hr>
        <div class="in-content">
          <p>
            <%= @post.body %>
          </p>
          <a class="read-more" href="#">Read more</a>
        </div>
        <div class="foot-post">
          <div class="units-row">
              <div class="unit-100">
                <strong>Tags:</strong>
                <a href="#">Galaxy</a>,
                <a href="#">Human</a>,
                <a href="#">World</a>,
              </div>
              <div class="unit-100">
                <strong>COMMENTS:</strong>
                <a href="#">3</a>
              </div>
          </div>
        </div>
      </div>
    <% @comments.each do |comment| %>
      <p><%= comment.content %></p>
    <% end %>

    <!-- comment form -->
    <% if logged_in? %>
      <%= render "shared/comment_form", post: @post %>
    <% end %>
      <!-- /post -->
